[user]
	name = Debajit Adhikary
	email = [ENTER EMAIL ADDRESS HERE]
	
[alias]

	# Status
	s = status

	# Find alias
	alias = !sh -c 'git config "alias.$1"' -
	al = !sh -c 'git config "alias.$1"' -
	
	# Diff
	d = diff --color-words
	dw = !sh -c 'git d -W'
	ds = !sh -c 'git d --staged' -
	dh = !sh -c 'git d head' -
	dh1 = !sh -c 'git d head~1' -
	dh2 = !sh -c 'git d head~2' -
	dp = !sh -c 'git d "$1~1" "$1"' -
	dm = !sh -c 'git ls-files -m $1 | xargs git d' -
	dt = difftool
	dtm = !sh -c 'git ls-files -m $1 | xargs git difftool' -
	dth = difftool head
	dth1 = difftool head~1
	dth2 = difftool head~2
	dtp = !sh -c 'git difftool "$1~1" "$1"' -
	dts = difftool --staged
	
	# Find file
	findfile = ls-files
	f = ls-files
	
	# Grep. TODO: Clean up
	grep-code-pattern = grep --ignore-case
	g = grep --ignore-case
	gf = !sh -c 'git g $1 -- $2' -
	gw = grep --ignore-case --word-regexp
	gwf = !sh -c 'git gw $1 -- $2' -
	grep-code-string = grep --ignore-case -F
	gs = grep --ignore-case -F

	# Branch
	b = branch
	ba = branch -a
	bd = branch -d
	bm = branch --move
	bv = branch -vv
	
	# Checkout
	c = checkout
	cb = checkout -b
	
	# Commit
	ci = commit
	cif = commit -F
	cim = commit -m
	a = commit --amend --no-edit
	af = commit --amend -F
	
	cp = cherry-pick
	cv = cherry -v
		
	# Merge
	m = merge
	mff = merge --ff-only
	mt = mergetool
	
	# Rebase
	r = rebase
	rc = rebase --continue
	ri = rebase -i
	
	# Tagging
	t = tag
	
	# Incoming / Outgoing (Compares with upstream)
	incoming = log ..@{u} --name-status
	in = log ..@{u} --name-status
	outgoing = log @{u}.. --name-status
	out = log @{u}.. --name-status
	outp = log @{u}.. -p
	
	# Log	
	tip = log -1
	l = log --graph --pretty=format:'%C(bold magenta)%h%Creset %C(bold yellow)%d%C(reset) %s %C(bold green)(%cr) %C(bold cyan)<%an>%Creset'
	ll = log --name-status
	la = !sh -c 'git ll -i --author=$1' -
	grep-commit-pattern = !sh -c 'git ll -i --grep=$1' -
	lg = !sh -c 'git ll -i --grep=$1' -
	grep-commit-string = !sh -c 'git ll -i -F --grep=\"$1\"' -
	lgs = !sh -c 'git ll -i -F --grep=\"$1\"' -
	lag = !sh -c 'git ll -i --author=$1 --grep=$2' -
	lags = !sh -c 'git ll -i --author=$1 -F --grep=\"$2\"' -

	# Update branch aliases (project-specific)
	ub = !sh -c 'git fetch origin && git b -f master origin/master && git r master'
	ubt = !sh -c 'git fetch origin && git b -f master $1 && git r master' -
	um = !sh -c 'git fetch origin && git r origin/master'
	umt = !sh -c 'git fetch origin && git r $1' -
	
[color]
	ui = auto	
[color "branch"]
	current = bold cyan
	local = normal dim
	remote = bold red
[color "diff"]
	meta = cyan bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = white reverse
[color "status"]
	added = bold red
	updated = bold green
	changed = bold red
	untracked = bold red
	nobranch = bold red
[column]
	branch = column
	status = column
	tag = column
[core]
	excludesfile = ~/.gitignore_global
[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[grep]
	lineNumber = true
[log]
	abbrevCommit = true
	date = relative
	decorate = full
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[pager]
	status = true
[push]
	default = simple
