#---------------------------------------------
#  .gitattributes file
#---------------------------------------------
#  Place this at the root of your C# project
#---------------------------------------------

*.cs diff=csharp
*.m diff=objc
